<script type="text/template" id="navbar-tpl">
	<div class="navbar">
		<div class="navbar-inner">
			<a href="#/" class="brand">Project 0</a>
			<ul class="nav">
				<li><a href="#/">Home</a></li>
				<li><a href="#/about">About</a></li>
				<li><a href="#/contact">Contact</a></li>
			</ul>
			<ul class="nav pull-right">
				<li>
					<div>
					<% if (me.signedin == true) { %>
						<span class="brand">Logged in as: <strong><%= me.username %></strong></span>
						<a href="#/signout" class="btn btn-info"><i class="icon-user"></i> Sign Out</a>
					<% } else { %>
						<a href="#/signin" class="btn btn-info"><i class="icon-user"></i> Sign In</a>
					<% } %>
					</div>
				</li>
			</ul>
		</div>
	</div>
</script>